tests/data/schemas/BookRecord.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="book" type="bookType" />
  <xs:complexType name="bookType">
    <xs:sequence>
      <xs:element type="xs:string" name="author" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="title" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="isbn" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="xs:integer" name="id"/>
  </xs:complexType>
</xs:schema>
